@*Paciente*@
<link href='~/Public/Lib/packages/core/main.css' rel='stylesheet' />
<link href='~/Public/Lib/packages/daygrid/main.css' rel='stylesheet' />

@Styles.Render("~/bundles/style/cita")
@{
    if (!ViewBag.create) {
        ViewBag.fix = "width: 100%;";
        ViewBag.fix2 = "width: 0px; border: none;";
    }
}

<script>
    const create = "@ViewBag.create"== "True";
    const del = "@ViewBag.delete" == "True";
    const update = "@ViewBag.update" == "True";
    const nombreTh = "@ViewBag.nombreTh";
</script>
<div id="paciente-msg" class="cyc-pt-1"></div>
<div class="cyc-pt-1 cyc-pl-1 cyc-pr-1 cyc-pb-1 admin-main-div">

    <!-- PAGE -->
    <div class="admin-all">
        <!-- NAVEGATION -->
        <div class="admin-title">
            <div class="admin-title-route">
                <h2><strong>Citas / </strong></h2>
                <h3><strong>&nbsp;Citas / </strong></h3>
                <h4 onclick="location.reload()" class="admin-title-route-items"><strong>&nbsp;Ver </strong></h4>
            </div>
        </div>
        <br />

        <!-- WORK-AREA -->
        <div class="admin-box">
            <div class="admin-nav">
                <ul class="admin-nav-list" id="admin-nav-items">
                    <li class="admin-nav-list-item-active" data-path="/cita">Cita</li>
                </ul>
            </div>
            <div class="admin-content">
                <div class="cita-content">
                    <div class="cita-content-events" style="@ViewBag.fix2">
                        @if (ViewBag.create) {
                            <div id="calendar-evt">
                                <!-- PACIENTE -->
                                <p>
                                    <strong>Escoge un cliente</strong>
                                </p>
                                <div class="calendar-evt-paciente d-none" id="evt-paciente-info">
                                </div>
                                <div class="form-group">
                                    <button id="btn-choose-paciente" class="btn cyc-btn-primary-2 cyc-w-100">Escoger...</button>
                                    <button id="btn-quit-paciente" class="btn cyc-btn-danger-2 cyc-w-100" style="display: none;">Quitar</button>
                                </div>
                                <hr />

                                <!-- OPCIONES DE CITA -->
                                <p>
                                    <strong>Opciones de cita</strong>
                                </p>
                                <div class="cita-content-events-main" id="calendar-items">
                                </div>
                                <p class="cyc-mt-2">
                                    <button id="btn-add-option-sesion" class="btn cyc-btn-success-2 cyc-w-100">Agregar nuevo</button>
                                </p>
                                <hr />

                            </div>
                        }
                    </div>
                    <div class="cita-content-calendar" style="@ViewBag.fix">
                        @if (ViewBag.read) {
                            <div id="calendar-con"></div>
                        } else {
                            <h3>No tienes permisos para acceder a esta informacion</h3>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/Public/FullCalendar/core/main.min.js"></script>
<script src="~/Public/FullCalendar/interaction/main.min.js"></script>
<script src="~/Public/FullCalendar/daygrid/main.min.js"></script>
<script src="~/Public/FullCalendar/timegrid/main.min.js"></script>

<script src="~/Public/JS/Cita/cita.js" type="text/javascript"></script>

<div class="diag-back d-none">
    <div class="diag-option">
        <div>
            <h3>Opciones de cita</h3>
            <hr />
        </div>
        <div class="form-group">
            <label class="form-check-label">Asunto</label>
            <input type="text" placeholder="Ingresa un asunto" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-check-label">Notas</label>
            <textarea class="form-control" placeholder="Ingresa las notas de la cita"></textarea>
        </div>
        <div class="form-group">
            <label class="form-check-label">Sintomas</label>
            <textarea class="form-control" placeholder="Ingresa los sintomas"></textarea>
        </div>
        <div class="form-group d-flex flex-row justify-content-between">
            <label class="form-check-label">Hora</label>
            <div class="d-flex flex-row justify-content-start">
                <select class="form-control mr-1">
                    <option value="00">00</option>
                </select>
                <strong style="font-size: 25px;">:</strong>
                <select class="form-control ml-1">
                    <option value="00">00</option>
                </select>
                <select class="form-control ml-1">
                    <option value="am">am</option>
                    <option value="pm">pm</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button class="btn cyc-btn-success-2 cyc-w-100 mb-2">Aceptar</button>
            <button class="btn cyc-btn-danger-2 cyc-w-100">Cancelar</button>
        </div>
    </div>
</div>
