@{
    ViewBag.Empleado = Session[MVC.Models.Session.SessionClaims.empleado];
    ViewBag.RolActual = Session[MVC.Models.Session.SessionClaims.rolActual];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/8ffbd3a7c4.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>

<body id="body" style="background-color: #fefefe;" onload="r({n:'nav-item',a:'cyc-nav-item-active'})">

    @Scripts.Render("~/bundles/sripts")
    @Scripts.Render("~/bundles/cycScript")
    <div class="cyc-body-control" style="overflow:hidden">
        @RenderBody()
    </div>


    <footer class="cyc-FCyC">
        @if (ViewBag.Empleado != null) {
            <div class="sylom-f-rol-c">
                <div class="sylom-f-rol-s" id="rol">
                    <span>@ViewBag.RolActual</span>
                    <div class="sylom-f-rol-s-h" id="rols-c" style="display:none; opacity: 0;">
                        @foreach (var rol in ((MVC.Models.Empleado)ViewBag.Empleado).roles) {
                            var temp = rol.apartados;
                            var temp2 = rol.apartados;
                            <div class="sylom-f-rol-s-ho" name="role">
                                <span class="sylom-f-rol-s-ho-t">@rol.nombre</span>
                                <form></form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <style>
            .sylom-f-rol-c {
                display: flex;
                justify-content: flex-start;
            }

            .sylom-f-rol-s {
                min-width: 250px;
                min-height: 37.5px;
                color: #fff;
                background-color: transparent;
                padding: .5em;
                box-sizing: border-box;
                cursor: pointer;
                position: relative;
                z-index: 2;
                text-align: center;
                margin-left: -.5em;
            }

                .sylom-f-rol-s:hover {
                    background-color: #444;
                }

            .sylom-f-rol-s-h {
                position: absolute;
                top: -150px;
                min-height: 150px;
                z-index: 3;
                background-color: #fff;
                min-width: 250px;
                max-height: 150px;
                margin: 0;
                box-shadow: 0px 0px 11px #777;
                border: 1px solid #ccc;
                box-sizing: border-box;
                margin-left: -.5em;
            }

            .sylom-f-rol-s-ho {
                min-height: 37.5px;
                color: #222;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }

                .sylom-f-rol-s-ho:hover {
                    background-color: #cbcbcb;
                }

                    .sylom-f-rol-s-ho:hover .sylom-f-rol-s {
                        background-color: #222222;
                    }

            .sylom-f-rol-s-ho-t {
                height: 100%;
                width: 100%;
                display: block;
                vertical-align: baseline;
                text-align: center;
                margin-top: 0.25em;
            }
        </style>
        <div class="cyc-FCyC-str1">
            <hr>
            <hr>
            <p class="cyc-text-white cyc-text-center">danielcotoquiros@hotmail.com <strong>&&</strong> danielcotoquiros@cycwebservice.cf</p>
        </div>
    </footer>

    <nav class="cyc-nav cyc-text-white">
        <a href="/" class="cyc-nav-title">Sylom</a>
        <ul class="cyc-nav-list" id="nav-list" style="display: flex;">
            <!--Apartados-->
            <!-- Siempre -->
            <li class="cyc-nav-item" name="nav-item" data-path="/">
                <a href="/" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                    <img src="/Public/IMG/General/start.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Inicio
                </a>
            </li>
            @if (ViewBag.Empleado == null) {
                <!-- No logeado-->
                <li class="cyc-nav-item" name="nav-item" data-path="/about">
                    <a href="/about" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                        <img src="/Public/IMG/General/about.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Acerca
                    </a>
                </li>
                <li class="cyc-nav-item" name="nav-item" data-path="/login">
                    <a href="/login" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                        <img src="/Public/IMG/General/login.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Login
                    </a>
                </li>
            } else {
                <!-- Logeado-->
                foreach (var rol in ((MVC.Models.Empleado)ViewBag.Empleado).roles) {
                    if (rol.nombre.Equals(ViewBag.RolActual)) {
                        foreach (var apartado in rol.apartados) {
                            <li class="cyc-nav-item" id="@apartado.siteUrl" name="nav-item" data-path="@apartado.siteUrl">
                                <a href="@apartado.siteUrl" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                                    <img src="@apartado.icon" width="20" height="20" style="margin-bottom: 6.2px;" /> @apartado.nombre
                                </a>
                            </li>
                        }
                        <li class="cyc-nav-item" name="nav-item" data-path="/logout">
                            <a href="/logout" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                                <img src="~/Public/IMG/General/exit.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Salir
                            </a>
                        </li>
                    }
                }
            }
        </ul>
        <div class="btn-action" id="btn-action"></div>

    </nav>

    @Scripts.Render("~/bundles/sylomScript")
    @RenderSection("scripts", required: false)
</body>

</html>
