<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    <title>Sylom</title>
</head>

<body id="body" onload="r({n:'nav-item',a:'cyc-nav-item-active'})">

    <div class="cyc-body-control">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/sripts")

    <footer class="cyc-FCyC">
        <div class="cyc-FCyC-str1">
            <hr>
            <hr>
        </div>
    </footer>

    <nav class="cyc-nav cyc-text-white">
        <a href="/" class="cyc-nav-title">Sylom</a>
        <ul class="cyc-nav-list" id="nav-list" style="display: flex;">
            <!--Apartados-->
            <li class="cyc-nav-item" name="nav-item" data-path="/">
                <a href="/" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                    <div class="icon icon-i"></div> Inicio
                </a>
            </li>
            <li class="cyc-nav-item" name="nav-item" data-path="/about">
                <a href="/about" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                    <div class="icon icon-a"></div>Acerca
                </a>
            </li>
            <li class="cyc-nav-item" name="nav-item" data-path="/login">
                <a href="/login" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                    <div class="icon icon-l"></div> Login
                </a>
            </li>
        </ul>
        <div class="btn-action" id="btn-action">
        </div>
    </nav>

    @Scripts.Render("~/bundles/cycScript")
    @RenderSection("scripts", required: false)
</body>

</html>
