@{
    ViewBag.Empleado = Session[MVC.Models.Session.SessionClaims.empleado];
    ViewBag.RolActual = Session[MVC.Models.Session.SessionClaims.rolActual];
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/8ffbd3a7c4.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>

<body id="body" style="background-color: #fefefe;" onload="r({n:'nav-item',a:'cyc-nav-item-active'})">

    @Scripts.Render("~/bundles/sripts")
    @Scripts.Render("~/bundles/cycScript")
    <div class="cyc-body-control" style="overflow:hidden">
        @RenderBody()
    </div>


    <footer class="cyc-FCyC">
        <div class="cyc-FCyC-str1">
            <hr>
            <hr>
            <p class="cyc-text-white cyc-text-center">danielcotoquiros@hotmail.com <strong>&&</strong> danielcotoquiros@cycwebservice.cf</p>
        </div>
    </footer>

    <nav class="cyc-nav cyc-text-white">
        <a href="/" class="cyc-nav-title">Sylom</a>
        <ul class="cyc-nav-list" id="nav-list" style="display: flex;">
            <!--Apartados-->
            <!-- Siempre -->
            <li class="cyc-nav-item" name="nav-item" data-path="/">
                <a href="/" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                    <img src="/Public/IMG/General/start.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Inicio
                </a>
            </li>
            @if (ViewBag.Empleado == null) {
                <!-- No logeado-->
                <li class="cyc-nav-item" name="nav-item" data-path="/about">
                    <a href="/about" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                        <img src="/Public/IMG/General/about.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Acerca
                    </a>
                </li>
                <li class="cyc-nav-item" name="nav-item" data-path="/login">
                    <a href="/login" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                        <img src="/Public/IMG/General/login.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Login
                    </a>
                </li>
            } else {
                <!-- Logeado-->
                foreach (var rol in ((MVC.Models.Empleado)ViewBag.Empleado).GetRoles()) {
                    if (rol.GetNombre().Equals(ViewBag.RolActual)) {
                        foreach (var apartado in
                           rol.GetApartados()
                            ) {
                            <li class="cyc-nav-item" name="nav-item" data-path="@apartado.GetSiteUrl()">
                                <a href="@apartado.GetSiteUrl()" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                                    <img src="@apartado.GetIcon()" width="20" height="20" style="margin-bottom: 6.2px;" /> @apartado.GetNombre()
                                </a>
                            </li>
                        }
                        <li class="cyc-nav-item" name="nav-item" data-path="/logout">
                            <a href="/logout" class="cyc-d-block cyc-text-white cyc-w-100 cyc-h-100">
                                <img src="~/Public/IMG/General/exit.png" width="20" height="20" style="margin-bottom: 6.2px;" /> Salir
                            </a>
                        </li>
                    }
                    break;
                }
            }
        </ul>
        <div class="btn-action" id="btn-action"></div>

    </nav>

    @Scripts.Render("~/bundles/sylomScript")
    @RenderSection("scripts", required: false)
</body>

</html>
