@*Mantenimiento*@
@Styles.Render("~/bundles/style/mante")
@{
    switch (ViewBag.mode) {
        case "tipopaciente":
            ViewBag.t = "un tipo de paciente";
            ViewBag.t2 = "del tipo de paciente";
            ViewBag.t3 = "tipo de paciente";
            break;
        case "medicina":
            ViewBag.t = "una medicina";
            ViewBag.t2 = "de la medicina";
            ViewBag.t3 = "medicina";
            break;
        case "institucion":
            ViewBag.t = "una institucion";
            ViewBag.t2 = "de la institucion";
            ViewBag.t3 = "institucion";
            break;
        case "tipoempleado":
            ViewBag.t = "un tipo de empleado";
            ViewBag.t2 = "del tipo de empleado";
            ViewBag.t3 = "tipo de empleado";
            break;
        default:
            ViewBag.t = "(ERROR)";
            ViewBag.t2 = "(ERROR)";
            ViewBag.t3 = "(ERROR)";
            break;
    }
}
<script>
    const create = "@ViewBag.create"== "True";
    const del = "@ViewBag.delete" == "True";
    const update = "@ViewBag.update" == "True";
    const nombreTh = "@ViewBag.nombreTh";
    const atcInd = null;
</script>
<div class="cyc-pt-1 cyc-pl-1 cyc-pr-1 cyc-pb-1" id="paciente-msg">
    <div style="position:relative;" class="admin-title">
        <h4 class="cyc-text-white d-block admin-title-up">Navegacion</h4>
        <hr />
        <h4 style="display:inline-block">Paciente /</h4>
        <div style="display:inline-block" class="admin-dropdown" id="paciente-dp-container">
            <div class="admin-dropdown-ch">
                <h6 id="mante-title-mante-nav" name="empleado-dp-select" title="Pacientes" class="admin-dropdown-title3" style="display:inline-block">&nbsp; Mantenimiento /</h6>
                <h6 class="admin-dropdown-title3" title="@ViewBag.t" style="display:inline-block" onclick="location.reload()">&nbsp; @ViewBag.t3 / @ViewBag.action</h6>
            </div>
        </div>
    </div>
    <hr />
    <div class="paciente-box cyc-p-1">
        <div class="paciente-box-top">
            <i id="mante-back-arrow" title="Retroceder" class="fas fa-arrow-alt-circle-left"></i>
            @if (ViewBag.action.Equals("crear")) {
                <h3>Agregar @ViewBag.t</h3>
            } else {
                <h3>Modificar @ViewBag.t</h3>
            }
        </div>
        <hr />
        <div class="container" id="paciente-form">

            <div class="cyc-p-1 " id="mante-bg">
                <h3>Agrega @ViewBag.t</h3>
                <hr />
                <br />

                @if (!ViewBag.mode.Equals("institucion")) {

                    <div class="form-group">
                        <label id="mante-dg-idlbl" class="form-check-label">ID @ViewBag.t</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" readonly id="mante-id" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Ingresa un nombre</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa el nombre" id="mante-desc" />
                    </div>

                } else {

                    <div class="form-group">
                        <label id="mante-dg-idlbl" class="form-check-label">ID @ViewBag.t</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" readonly id="mante-id" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Ingresa un nombre</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa el nombre" id="mante-desc" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Ingresa un telefono</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa un telefono" id="mante-tel" />
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Ingresa una direccion</label>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Ingresa una direccion" id="mante-direc"></textarea>
                    </div>
                }
            </div>

            <br />

            <div class="form-group" id="paciente-form-action">
                <div class="d-block">
                    <div class="paciente-form-actions">
                        <button id="mante-btn-exit" class="btn btn-outline-danger cyc-w-49 paciente-form-exit">
                            Salir
                        </button>
                        @if (ViewBag.action.Equals("crear")) {
                            <button id="btn-action" class="btn cyc-btn-success-2 cyc-w-49 paciente-form-action">
                                Agregar
                            </button>
                        } else {
                            <button id="btn-action" class="btn cyc-btn-primary-2 cyc-w-49 paciente-form-action">
                                Modificar
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Public/JS/Mante/mantenimiento.js" type="text/javascript"></script>
</div>