@Styles.Render("~/bundles/style/mante")
@switch (ViewBag.mode) {
    case "tipoempleado":
        ViewBag.nombreCh = "Tipos de empleado";
        ViewBag.nombreTh = "Nombre del tipo de empleado";
        break;
    case "medicinas":
        ViewBag.nombreCh = "Medicina";
        ViewBag.nombreTh = "Nombre de la medicina";
        break;
    default:
        ViewBag.nombreCh = "Tipos de paciente";
        ViewBag.nombreTh = "Nombre del tipo de paciente";
        break;
}
<script>
    var create = "@ViewBag.create"== "True";
    var del = "@ViewBag.delete" == "True";
    var update = "@ViewBag.update" == "True";
</script>
<div class="cyc-pt-2 cyc-pl-3 cyc-pr-3 cyc-pb-1">
    <div style="position:relative;">
        <h2 style="display:inline-block">Mantenimiento:</h2>
        <div style="display:inline-block" class="mante-dropdown" id="mante-dp-container">
            <div class="mante-dropdown-ch">
                <h5 id="mante-dp-select" class="mante-dropdown-title" style="display:inline-block">&nbsp; @ViewBag.nombreCh &nbsp; &nbsp;</h5>
                <i style="display:inline-block" class="far fa-caret-square-down mante-dropdown-icon"></i>
            </div>
            <ul class="mante-dropdown-items" id="mante-dp-items" style="display: none;">
                <li name="mante-dp-option" data-path="tipopaciente">Tipos de pacientes</li>
                <li name="mante-dp-option" data-path="tipoempleado">Tipos de empleado</li>
                <li name="mante-dp-option" data-path="medicinas">Medicinas</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="mante-box">
        <div class="mante-box-top">
            @if (ViewBag.create) {
                <button class="btn cyc-btn-success-2 mante-box-btn">
                    <i class="fas fa-plus"></i> &nbsp; Agregar nuevo
                </button>
            }
        </div>
        <div class="cyc-m-1">
            @if (ViewBag.read) {
                <table class="table">
                    <tbody id="mante-table">
                        <tr>
                            <th><strong>ID</strong></th>
                            <th>@ViewBag.nombreTh</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            } else {
                <h3>No tienes permisos para acceder a esta informacion</h3>
            }
        </div>
    </div>
</div>
<script src="/Public/JS/Mante/mantenimiento.js" type="text/javascript"></script>