@*Empleados*@
@Styles.Render("~/bundles/style/empleado")

<script>
    const create = "@ViewBag.create"== "True";
    const del = "@ViewBag.delete" == "True";
    const update = "@ViewBag.update" == "True";
    const nombreTh = "@ViewBag.nombreTh";
    const idEmpleado = @ViewBag.empleado;
</script>
<div id="empleado-msg" class="cyc-pt-1"></div>
<div class="cyc-pt-1 cyc-pl-1 cyc-pr-1 cyc-pb-1 admin-main-div">


    <!-- PAGE -->
    <div class="admin-all">
        <!-- NAVEGATION -->
        <div class="admin-title">
            <div class="admin-title-route">
                <h2><strong>Empleado / </strong></h2>
                <h3><strong>&nbsp;Empleados / </strong></h3>
                <h4 onclick="location.reload()" class="admin-title-route-items"><strong>&nbsp;Ver </strong></h4>
            </div>
            <div class="admin-title-search">
                <input type="text" placeholder="Ingresa un dato" class="form-control admin-title-search-input" />
            </div>
        </div>
        <br />

        <!-- WORK-AREA -->
        <div class="admin-box">
            <div class="admin-nav">
                <ul class="admin-nav-list" id="admin-nav-items">
                    <li class="admin-nav-list-item-active" data-path="/empleado">Empleado</li>
                </ul>
            </div>
            <div class="admin-content">
                <div class="d-flex justify-content-between pt-2 pl-2">
                    @if (ViewBag.create) {
                        <button class="btn cyc-btn-success-2 admin-btn-add" id="empleado-btn-add">
                            <i class="fas fa-plus"></i> &nbsp; Agregar nuevo
                        </button>
                    }
                    <div class="btn-filter" id="btn-filter">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div style="margin:11px">
                    @if (ViewBag.read) {
                        <table class="table table-striped">
                            <thead class="thead-dark admin-thead-table">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Tipo de empleado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="empleado-table">
                            </tbody>
                        </table>
                    } else {
                        <h3>No tienes permisos para acceder a esta informacion</h3>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Public/JS/Empleado/empleado.js" type="text/javascript"></script>
